---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
      <TimeLineElement
      title="BSc. Data Science"
      subtitle="2022 to 2025 at Zurich University of applied sciences (ZHAW), Winterthur, Switzerland"
    />
    <TimeLineElement
      title="Vocational Baccalaureate, Engineering, Architecture, Life Sciences"
      subtitle="2021 to 2022 at Berufsmaturitätsschule Zürich, Zürich, Switzerland"
    />
    <TimeLineElement
      title="Electronics Engineer (VET)"
      subtitle="2017 to 2021 at Technische Berufsschule Zürich, Zürich, Switzerland"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Teaching Assistant"
      subtitle="From September 2023 till now at ZHAW - School of Engineering, Winterthur, Switzerland"
    >
      Supervising the Math tutoring lesson. Helping students with calculus 1 and linear algebra 1 homework. Also advising them regarding learning techniques and programming questions.
    </TimeLineElement>
    <TimeLineElement
      title="Teaching Assistant"
      subtitle="From August 2023 to September 2023 at ZHAW - School of Engineering, Winterthur, Switzerland"
    >
      ZHAW Pre-College Mathematics course:
Mathematics of the Swiss technical vocational
baccalaureate
    </TimeLineElement>
    <TimeLineElement
      title="Electronics Engineer VET Apprentice - Siemens Switzerland AG"
      subtitle="2017 to 2021 at Siemens Schweiz AG, Zürich, Switzerland"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
  </ul>
</BaseLayout>
