---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
  I am a young Swiss student with a keen interest in mathematics, computer science as well as natural science. I already had the chance to work on software and electronics projects at Siemens but I'm eager to gain more in depth knowledge and experiences. Im a fast and motivated learner and ready for the next challenge! 
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
      <TimeLineElement
      title="BSc. Data Science"
      subtitle="2022 to 2025 at Zurich University of applied sciences (ZHAW), Winterthur, Switzerland"
      >
        More information about the curriculum can be found <a href="https://www.zhaw.ch/de/engineering/studium/bachelorstudium/data-science/curriculum-lehrplan/">here</a>.
        Im currently working on my project thesis working on software for the CMS experiment at CERN. Read more <a href="https://saxermi.github.io/project/project3/">here</a>

    </TimeLineElement>
 
    <TimeLineElement
      title="Vocational Baccalaureate, Engineering, Architecture, Life Sciences"
      subtitle="2021 to 2022 at Berufsmaturitätsschule Zürich, Zürich, Switzerland"
    />
    <TimeLineElement
      title="Electronics Engineer (VET)"
      subtitle="2017 to 2021 at Technische Berufsschule Zürich, Zürich, Switzerland"
      >
          More information about the curriculum can be found <a href="https://www.swissmem-berufsbildung.ch/fileadmin/user_upload/Swissmem_Berufsbildung/Ausbildungsdokumente_und_Regelwerke/ET/Ausbildungsbestimmungen/D/ET_KoRe.pdf">here</a>

    </TimeLineElement>
    
    
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Teaching Assistant"
      subtitle="From September 2023 till June 2024 at ZHAW - School of Engineering, Winterthur, Switzerland"
    >
      Supervising the Math tutoring lesson. Helping students with calculus 1/2 and linear algebra 1/2 homework. Also advising them regarding learning techniques and programming questions.
    </TimeLineElement>
    <TimeLineElement
      title="Teaching Assistant"
      subtitle="From August 2023 to September 2023 at ZHAW - School of Engineering, Winterthur, Switzerland"
    >
      ZHAW Pre-College Mathematics course:
Mathematics of the Swiss technical vocational
baccalaureate
    </TimeLineElement>
    <TimeLineElement
      title="Electronics Engineer VET Apprentice - Siemens Switzerland AG"
      subtitle="2017 to 2021 at Siemens Schweiz AG, Zürich, Switzerland"
    >
    I designed circuits, programmed SOC's and also desktop applications. I've also gained Experience in various communication protocolls with a focus on MODBUS and M-Bus.
    During my time at Siemens i used C,C++, C# and from time to time VHDL and python.
    </TimeLineElement>
  </div>
    <div class="mb-5">
    <div class="text-3xl w-full font-bold">Politics</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Vice President"
      subtitle="From 2022 till now at  FDP Kreis 9, Zürich, Switzerland"
    >
    Additional borad duties,support of the party President, Represent the party.
<a href="https://www.fdp-zh9.ch/personen/vorstand/vorstand-detail/members/user/michael-saxer">Visit Michael Saxer's Profile</a>
  </TimeLineElement>
      <TimeLineElement
      title="Candidate for cantonal council"
      subtitle="2022 Zurich , Switzerland"
    >

I ran with the goal of improving public education and giving more power over the curriculum to the students.
    </TimeLineElement>
    <TimeLineElement
      title="Candidate for local council"
      subtitle="2022 Zurich , Switzerland"
    >
I ran with the goal of improving the housing situation in Zurich.

    </TimeLineElement>
    <TimeLineElement
      title="Member of the Board"
      subtitle="2020 till now at FDP Kreis 9, Zürich, Switzerland"
    >
    Responsible for the website and communication ressort
    </TimeLineElement>
  </div>
    <div class="mb-5">
    <div class="text-3xl w-full font-bold">Volunteer Work</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Student representative"
      subtitle="From September 2022 till now at ZHAW - School of Engineering, Winterthur, Switzerland"
    >
    I represent the class of 2025 at the university.
    </TimeLineElement>
 
    <TimeLineElement
      title="Scout leader- YMCA"
      subtitle="From 2016 till now, Cevi ALtstetten und Albisrieden, Zürich, Switzerland"
    >
    I spend (almost) every saturday outside doing stuff like climbing, hiking or simply making a fire. I held leading roles in events ranging in size from 5 to 1500 people.




    </TimeLineElement>
  </div>

<div class="mb-5">
    <div class="text-3xl w-full font-bold">Awards</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
    I have been awared a fellowship of the swiss study foundation. More info 
      <a href="https://www.studyfoundation.ch/educational-program/" target="_blank"> here</a>
    </li>

  </ul>


  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://www.jugendundsport.ch/de/sportarten/lagersport-trekking-uebersicht.html" target="_blank"> J+S Leiter</a>
    </li>

  </ul>







    <div class="mb-5">
    <div class="text-3xl w-full font-bold">I am part of the following associations</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://fdp-zh9.ch" target="_blank">FDP</a>
    </li>
    <li>
      <a href="https://cevi-altstetten.ch/">Cevi Altstetten</a>
    </li>
    <li>
      <a href="https://alias-zhaw.ch/"> Student association</a>
    </li>
    <li>
      <a href="" > i hope i did not forget one</a>
    </li>

  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Linux</li>
    <li>Latex</li>
    <li>R</li>
    <li>Python</li>
    <li>C/C++/C#</li>
    <li>Scrum</li>
    <li>Leadership</li>
    <li>Tutoring</li>
    <li>Git/Github</li>
    <li>Electronic circuits</li>
    <li>Event planning</li>
    <li>Modbus</li>
    <li>M-Bus</li>
    <li>Data analysis</li>
    <li>Statistical tests and regression modeling</li>
    <li>Machine learning</li>
    <li>Deep learning basics</li>
    <li>NLP Basics</li>
  </ul>
</BaseLayout>
