---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Zusammenfassungen</div>
  </div>
	Hier befinden sich (hoffentlich) bald links zu Zusammenfassungen die ich mal erstellt habe.
	<table border="1">

</BaseLayout>
