---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Zusammenfassungen</div>
  </div>
	Hier befinden sich (hoffentlich) bald links zu Zusammenfassungen die ich mal erstellt habe.
	<table border="1">
   <div class="mb-5">
    <div class="text-2xl w-full font-bold">Mathematik Videos fürs erste Studienjahr</div>
  </div>
    
  <div class="mb-5">
    <div class="text-1xl w-full font-bold">Kurzvideos zu verschiedenen Themen</div>
  </div>
    
    <ul>
        <li><a href="https://youtu.be/2No_CMrxBe8?si=-Do_t8tsU8YyTF3_">History of Mathematics</a></li>
        <li><a href="https://youtube.com/playlist?list=PLybg94GvOJ9FoGQeUMFZ4SWZsr30jlUYK&si=ZfJUkanQn_qT5b7I">Tutorials zu allen möglichen Themen</a></li>
        <li><a href="https://youtu.be/OmJ-4B-mS-Y?si=tUiIzlQ3tKEyfA5d">Map of Mathematics</a></li>
        <li><a href="https://youtu.be/3lflvX0BzNo?si=GuBSDKHPWIvtqztF">Math Study Habits</a></li>
        <li><a href="https://youtube.com/@TheMathSorcerer?si=LgCIGdKLunZV8-_r">Math Sorcerer Channel</a></li>
        <li><a href="https://youtube.com/@BriTheMathGuy?si=nEBXemRyPbke0T-x">BriTheMathGuy Channel</a></li>
        
        
    </ul>
    
  <div class="mb-5">
    <div class="text-1xl w-full font-bold">Lineare Algebra</div>
  </div>
    
    <ul>
        <li><a href="https://youtu.be/TBpDMLCC2uY?si=KEdUEZBDUis33Ph9">Anwendung des Skalarprodukts</a></li>
        <li><a href="https://youtu.be/rowWM-MijXU?si=cxdfeK6rRc9usjAZ">Anwendung von Matrizen</a></li>
        <li><a href="https://youtu.be/8tiQl6T-inE?si=Prv_SmA5LMBFN5N2">Anwendung komplexer Zahlen</a></li>
        <li><a href="https://youtu.be/_h49ilnTmW4?si=pZYP08pcoiOdVSqh">Weitere Anwendung komplexer Zahlen</a></li>
        <li><a href="https://youtu.be/i8FukKfMKCI?si=ZeFoD8hUFcw9eBtF">Anwendung von Eigenvektoren/-werten</a></li>
        <li><a href="https://youtu.be/cUzklzVXJwo?si=b5rGTpW4EvP1XVIL">Wie imaginäre Zahlen erfunden wurden</a></li>
        <li><a href="https://youtu.be/shEk8sz1oOw?si=PBpzE5KAxYoccvJw">Fundamentalsatz der Algebra</a></li>
        <li><a href="https://youtube.com/playlist?list=PLZHQObOWTQDPD3MizzM2xVFitgF8hE_ab&si=c1Eg-5R1NZ09thCH">Essence of Linear Algebra Playlist</a></li>
        <li><a href="https://youtube.com/playlist?list=PLvBnQVOJXCUGzKDVGLxy-Cn2CmwU0DUtF&si=sx4HPcAJuCf415bQ">Mathepeter Lineare Algebra Playlist</a></li>
        <li><a href="https://youtube.com/playlist?list=PL221E2BBF13BECF6C&si=xNEPUUX-_DhrAxtj">Gilbert Strang MIT Lineare Algebra Playlist</a></li>
    </ul>

    <div class="mb-5">
    <div class="text-1xl w-full font-bold">Analysis</div>
  </div>
    
    <ul>
        <li><a href="https://youtu.be/6O8Jyrr9LRc?si=3xC-cNZi_u7N1oYn">Anwendung von Optimierungsproblemen</a></li>
        <li><a href="https://youtu.be/eX1hvWxmJVE?si=C4mk30ciyTwFjVSJ">Anwendung der Taylor-Reihe</a></li>
        <li><a href="https://youtu.be/ifbaAqfqpc4?si=toMCA1wyGKtoivNv">Anwendung von Differentialgleichungen</a></li>
        <li><a href="https://youtu.be/5M2RWtD4EzI?si=RRxlcloLH0vT04ED">Geschichte der Analysis</a></li>
        <li><a href="https://youtu.be/yZOi9HH5ueU?si=K9ags5XxzhVpUr7F">Gabriels Horn Paradoxon</a></li>
        <li><a href="https://youtube.com/playlist?list=PLZHQObOWTQDMsr9K-rj53DwVRMYO3t5Yr&si=xvz6-qJimq6itRwm0">Essence of Analysis Playlist</a></li>
        <li><a href="https://youtube.com/playlist?list=PLZHQObOWTQDNPOjrT6KVlfJuKtYTftqH6&si=8xBkyoN1LdbBugSH">Differentialgleichungen Playlist</a></li>
        <li><a href="https://youtu.be/spUNpyF58BY?si=BIJNg31zunAdpQ4r">Fourier-Transformation</a></li>
        <li><a href="https://youtube.com/playlist?list=PLvBnQVOJXCUHVp0u1yepooLueiyAsfvD5&si=4GwaweTPmH5RZvyd">Mathepeter Analysis Playlist</a></li>
        <li><a href="https://youtube.com/playlist?list=PL0o_zxa4K1BWYThyV4T2Allw6zY0jEumv&si=vOXeAkXX4P98VoMJ">Calculus Video Playlist</a></li>
    </ul>
  	<table border="1">
   <div class="mb-5">
    <div class="text-2xl w-full font-bold">Mathematik/Statistik/Machine learning Videos fürs weitere Semester</div>
  </div>
  <div class="mb-5">
    <div class="text-1xl w-full font-bold">Machine Learning</div>
</div>

<ul>
    <li><a href="https://www.youtube.com/watch?v=zxagGtF9MeU&list=PLblh5JKOoLUIxGDQs4LFFD--41Vzf-ME1&pp=iAQB">Neural Networks - Deep Learning (Statquest)</a></li>
    <li><a href="https://www.youtube.com/watch?v=efR1C6CvhmE&list=PLblh5JKOoLUL3IJ4-yor0HzkqDQ3JmJkc&pp=iAQB">Support Vector Machines (SVM) - Statquest</a></li>
    <li><a href="https://www.youtube.com/watch?v=_L39rN6gz7Y&list=PLblh5JKOoLUKAtDViTvRGFpphEc24M-QH&pp=iAQB">Classification Trees - Statquest</a></li>
    <li><a href="https://www.youtube.com/watch?v=J4Wdy0Wc_xQ&list=PLblh5JKOoLUIE96dI3U7oxHaCAbZgfhHk&pp=iAQB">Random Forest - Statquest</a></li>
    <li><a href="https://www.youtube.com/watch?v=Gv9_4yMHFhI&list=PLblh5JKOoLUICTaGLRoHQDuF_7q2GfuJF&pp=iAQB">Machine Learning Overview - Statquest</a></li>
    <li><a href="https://www.youtube.com/watch?v=aircAruvnKk&list=PLZHQObOWTQDNU6R1_67000Dx_ZCJB-3pi&pp=iAQB">Neural Networks - Three Blue One Brown</a></li>
    <li><a href="https://www.youtube.com/watch?v=YulgDAaHBKw&list=PLbg3ZX2pWlgKV8K6bFJr5dhM7oOClExUJ&pp=iAQB">The Art of the Problem - Artificial Intelligence</a></li>
</ul>
<div class="mb-5">
    <div class="text-1xl w-full font-bold">Statistics</div>
</div>

<ul>
    <li><a href="https://www.youtube.com/@statquest/featured">StatQuest Channel</a></li>
    <li><a href="https://www.youtube.com/watch?v=XZo4xyJXCak&list=PL0o_zxa4K1BVsziIRdfv4Hl4UIqDZhXWV&pp=iAQB">Statistics Playlist - Organic Chemistry Tutor</a></li>
</ul>
<div class="mb-5">
    <div class="text-1xl w-full font-bold">Mixed Topics</div>
</div>

<ul>
    <li><a href="https://www.youtube.com/watch?v=pOD5oKpBP-c&list=PLBh2i93oe2qtAFfLUm_dAVcTf3N9McK0U&pp=iAQB">Ordinary Differential Equations (ODE) - The Bright Side of Mathematics</a></li>
    <li><a href="https://www.youtube.com/watch?v=il1lprob1Fs&list=PLBh2i93oe2qsv5x-tD7GpfS9xFrLVS_b4&pp=iAQB">Algebra - The Bright Side of Mathematics</a></li>
    <li><a href="https://www.youtube.com/watch?v=g6LmapJ6k70&list=PLBh2i93oe2qvnF0fCuYAFDUJJbZ-ybBlI&pp=iAQB">Complex Analysis - The Bright Side of Mathematics</a></li>
    <li><a href="https://www.youtube.com/watch?v=tBw_0OKEaDA&list=PLBh2i93oe2qtmWsYpx0NarbeahMJvhRj0&pp=iAQB">Probability Theory - The Bright Side of Mathematics</a></li>
    <li><a href="https://www.youtube.com/watch?v=yDdxFBcvSGw&list=PLBh2i93oe2qsGKDOsuVVw-OCAfprrnGfr&pp=iAQB">Functional Analysis - The Bright Side of Mathematics</a></li>
    <li><a href="https://www.youtube.com/watch?v=XrRxFJIkY1U&list=PLBh2i93oe2qvd9kFME0SLmiasKbQ7zZSr&pp=iAQB">Fourier Analysis - The Bright Side of Mathematics</a></li>
    <li><a href="https://www.youtube.com/watch?v=oCOK7_xUCS8&list=PLBh2i93oe2quWGLJi0CJxUUUPH6B9lbio&pp=iAQB">Hilbert Spaces - The Bright Side of Mathematics</a></li>
    <li><a href="https://www.youtube.com/watch?v=kT7dqRoRSUU&list=PLu7FZgjILMWGuFwUxJEgeVSODMA6YsGG_">Numerical Analysis - Bright Side of Mathematics</a></li>
    <li><a href="https://www.youtube.com/watch?v=FgzM3zpZ55o&list=PLoROMvodv4rOSOPzutgyCTapiGlY2Nd8u">Reinforcement Learning - David Silver</a></li>
    <li><a href="https://www.youtube.com/watch?v=2pWv7GOvuf0&list=PLqYmG7hTraZDM-OYHWgPebj2MfCFzFObQ">Reinforcement Learning - DeepMind</a></li>
    <li><a href="https://www.youtube.com/@IBMTechnology/playlists">Various Data Engineering Topics - IBM Technology</a></li>
    <li><a href="https://www.youtube.com/watch?v=b1t41Q3xRM8&list=PL0o_zxa4K1BU6wPPLDsoTj1_wEf0LSNeR">Physics Topics</a></li>
</ul>


</BaseLayout>
