---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Zusammenfassungen</div>
  </div>
	Hier befinden sich (hoffentlich) bald links zu Zusammenfassungen die ich mal erstellt habe.
	<table border="1">
   <div class="mb-5">
    <div class="text-2xl w-full font-bold">Mathematik Videos fürs erste Studienjahr</div>
  </div>
    
  <div class="mb-5">
    <div class="text-1xl w-full font-bold">Kurzvideos zu verschiedenen Themen</div>
  </div>
    
    <ul>
        <li><a href="https://youtu.be/2No_CMrxBe8?si=-Do_t8tsU8YyTF3_">History of Mathematics</a></li>
        <li><a href="https://youtube.com/playlist?list=PLybg94GvOJ9FoGQeUMFZ4SWZsr30jlUYK&si=ZfJUkanQn_qT5b7I">Tutorials zu allen möglichen Themen</a></li>
        <li><a href="https://youtu.be/OmJ-4B-mS-Y?si=tUiIzlQ3tKEyfA5d">Map of Mathematics</a></li>
        <li><a href="https://youtu.be/3lflvX0BzNo?si=GuBSDKHPWIvtqztF">Math Study Habits</a></li>
        <li><a href="https://youtube.com/@TheMathSorcerer?si=LgCIGdKLunZV8-_r">Math Sorcerer Channel</a></li>
        <li><a href="https://youtube.com/@BriTheMathGuy?si=nEBXemRyPbke0T-x">BriTheMathGuy Channel</a></li>
        
        
    </ul>
    
  <div class="mb-5">
    <div class="text-1xl w-full font-bold">Lineare Algebra</div>
  </div>
    
    <ul>
        <li><a href="https://youtu.be/TBpDMLCC2uY?si=KEdUEZBDUis33Ph9">Anwendung des Skalarprodukts</a></li>
        <li><a href="https://youtu.be/rowWM-MijXU?si=cxdfeK6rRc9usjAZ">Anwendung von Matrizen</a></li>
        <li><a href="https://youtu.be/8tiQl6T-inE?si=Prv_SmA5LMBFN5N2">Anwendung komplexer Zahlen</a></li>
        <li><a href="https://youtu.be/_h49ilnTmW4?si=pZYP08pcoiOdVSqh">Weitere Anwendung komplexer Zahlen</a></li>
        <li><a href="https://youtu.be/i8FukKfMKCI?si=ZeFoD8hUFcw9eBtF">Anwendung von Eigenvektoren/-werten</a></li>
        <li><a href="https://youtu.be/cUzklzVXJwo?si=b5rGTpW4EvP1XVIL">Wie imaginäre Zahlen erfunden wurden</a></li>
        <li><a href="https://youtu.be/shEk8sz1oOw?si=PBpzE5KAxYoccvJw">Fundamentalsatz der Algebra</a></li>
        <li><a href="https://youtube.com/playlist?list=PLZHQObOWTQDPD3MizzM2xVFitgF8hE_ab&si=c1Eg-5R1NZ09thCH">Essence of Linear Algebra Playlist</a></li>
        <li><a href="https://youtube.com/playlist?list=PLvBnQVOJXCUGzKDVGLxy-Cn2CmwU0DUtF&si=sx4HPcAJuCf415bQ">Mathepeter Lineare Algebra Playlist</a></li>
        <li><a href="https://youtube.com/playlist?list=PL221E2BBF13BECF6C&si=xNEPUUX-_DhrAxtj">Gilbert Strang MIT Lineare Algebra Playlist</a></li>
    </ul>

    <div class="mb-5">
    <div class="text-1xl w-full font-bold">Analysis</div>
  </div>
    
    <ul>
        <li><a href="https://youtu.be/6O8Jyrr9LRc?si=3xC-cNZi_u7N1oYn">Anwendung von Optimierungsproblemen</a></li>
        <li><a href="https://youtu.be/eX1hvWxmJVE?si=C4mk30ciyTwFjVSJ">Anwendung der Taylor-Reihe</a></li>
        <li><a href="https://youtu.be/ifbaAqfqpc4?si=toMCA1wyGKtoivNv">Anwendung von Differentialgleichungen</a></li>
        <li><a href="https://youtu.be/5M2RWtD4EzI?si=RRxlcloLH0vT04ED">Geschichte der Analysis</a></li>
        <li><a href="https://youtu.be/yZOi9HH5ueU?si=K9ags5XxzhVpUr7F">Gabriels Horn Paradoxon</a></li>
        <li><a href="https://youtube.com/playlist?list=PLZHQObOWTQDMsr9K-rj53DwVRMYO3t5Yr&si=xvz6-qJimq6itRwm0">Essence of Analysis Playlist</a></li>
        <li><a href="https://youtube.com/playlist?list=PLZHQObOWTQDNPOjrT6KVlfJuKtYTftqH6&si=8xBkyoN1LdbBugSH">Differentialgleichungen Playlist</a></li>
        <li><a href="https://youtu.be/spUNpyF58BY?si=BIJNg31zunAdpQ4r">Fourier-Transformation</a></li>
        <li><a href="https://youtube.com/playlist?list=PLvBnQVOJXCUHVp0u1yepooLueiyAsfvD5&si=4GwaweTPmH5RZvyd">Mathepeter Analysis Playlist</a></li>
        <li><a href="https://youtube.com/playlist?list=PL0o_zxa4K1BWYThyV4T2Allw6zY0jEumv&si=vOXeAkXX4P98VoMJ">Calculus Video Playlist</a></li>
    </ul>
</BaseLayout>
